.article_text {
	background-color: white;
	border: 1px solid #ccc;
	padding: 1em;
	font-size: 1.2em;
	margin-bottom: 2em;
}
.article_meta {
	background-color: white;
	color: #6C7698;
	font-size: 0.7em;
	border: 1px solid #ccc;
	font-weight: 500;
	padding: 0.5em;
	margin: 0px 0px 3px 0px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1.3px;
}
.article_meta .fa { padding-left: 20px; }
.article_badge .badge {color: #6C7698; background-color: #dfdfdf; text-decoration: none}
.article_badge .badge:hover {text-decoration: underline;}
.article_text .hljs {font-size: 0.75em; tab-size: 2;}
.article_text pre {background-color: inherit;}