body {
	background-color: #e9eaed;
	/*font-family: 'Roboto', sans-serif;*/
}
a {color: #175a34;}
a:hover {color: #0b2918;}
header {
	background-color: white;
}
header p {
	margin-bottom: 0px;
}
header .site-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1em;
	background-color: rgba(255,255,255,0.35);
	border-radius: 0%;
	width: 80px;
	height: 80px;
}
header .site-logo img {
	height: 60px;
}
header .site-title {
	text-transform: uppercase;
	/*font-size: 1.6em;*/
}
.header_top{
	background-color: rgba(255,255,255,0.2);
	padding: 0px 0px;
	border-bottom: 1px solid rgba(255,255,255,0.25);
	position: relative;
}
@media (max-width: 992px){
	.header_logo, .header_menu, .header_search {margin-bottom: 1em;}
	.header_logo {display: flex; justify-content: center;}
}
.footer_top {
	background-color: #252926;
	border-bottom: 1px solid  #151916;
	color: grey;
	padding: 1em;
	text-align: center;
}
.footer_middle {
	padding: 1em;
	background-color: #252926;
	color: grey;
}
.footer_middle p {
	margin-bottom: 0px;
}
.footer_middle a {
	text-decoration: none;
	color: grey;
}
.footer_middle a:hover {	
	color: white;
}
.footer_middle .header_section_list {border-bottom: 1px solid #555; margin-bottom: 1em;}
.footer_bottom {
	background-color: #151916;
	color: #666;
	padding: 1em;
	text-align: center;
}
@media (max-width: 768px){
	.footer_contact {text-align: center; margin-bottom: 2em;}
}
.top_head {margin-bottom: 3rem; position: relative; padding: 3em 0 3em 0;}
.top_head .d-flex {
	position: relative;
	min-height: 230px;
}
/*.top_head .bloginfo {
	background-color: rgba(255,255,255,0.15);
}
/*.top_head h1, .top_head p {
	color: white;
}*/
.top_head p {
	margin-bottom: 0px;
}
.bg-overlay {
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-overlay-dark {
	color: #fff;
	text-shadow: 1px 1px 2px black;
}
.bg-overlay-dark:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
}
.section-head {
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
	color: #333;
	letter-spacing: 2px;
	margin: 30px 0px;
}
.section-head > span {
  position: relative;
  display: inline-block;
}
.section-head > span:before, .section-head > span:after {
	content: "";
	position: absolute;
	top: 50%;
	border-bottom: 1px solid;
	border-color: #333;
	width: 550px;
	margin: 0 14px;
}
.section-head > span:before {
  right: 100%;
}
.section-head > span:after {
  left: 100%;
}
.modal-header {border-bottom: 3px solid green; background-color: #f6f6f6}
.modal-footer {border-top: 1px solid green; background-color: #f6f6f6}
.starrequired {color: red}
.modal-enter-active,
.modal-leave-active {
  transition: opacity .5s;
}

.modal-enter,
.modal-leave-to {
  opacity: 0;
}
.content {
	background-color: white;
	padding: 1em;
}
blockquote {
	font-size: 1em;
	margin: 10px 0;
	padding: 10px 10px 10px 42px;
	border: 1px solid #eee;
	border-left: 4px solid #a0c283;
	background: #f8f8f8 url("data:image/gif;base64,R0lGODlhHgAeALMAAPL18KXGi8/fwb3UquDq2bfRo9Xjytvm0cnburHNm+bt4azKk+zx6MPYsqDCg/j4+CH5BAAAAAAALAAAAAAeAB4AAASy8MlJq7046827/2CoMQOxGUnXOE6REQlraEfAOghgAcO9zJgea8C4EGyOAPACiDkWpovh1tBhAIthZpo8bJyNzIEVUGwQWgwDadYQyNaLEMEpsASvWxzzZhUxdg4DHGg3LAVREgCGN3gXTowObQ9jkYIXlocTApkOiYqdAZudjhOLmaISnJmlE0iRgxJclpMThZGTAK+GLjtZjK0Pq4YLfzvDBV4WB4E4eyLQ0dLT1NUUEQA7") no-repeat 7px 10px;
}
code, pre {
	overflow: auto;
	background-color: #282c34;
	color: #467542;
	font-family: 'Lucida Console', 'Courier New', Monospace;
	font-size: 0.85em;
	/*margin: 8px 0;
	padding: 8px;
	text-align: left;
	display: block;
	
	
	
	border: 1px dashed #064203;
*/
}